html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #f6f6f6; 
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;/* Ensures no underline on text*/
}

a:hover {
    text-decoration: none; /* Ensures no underline on hover */
}

header {
    background: #008489;
    height: 66px;
}

.logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

.logo-text {
    margin: 8px;
    font-family: 'Roboto', serif;
}

.logo-text span {
    color: black;
}

.nav {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav li {
    float: left;
    position: relative;
}

.nav li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

.nav li a:hover {
    background: #006669;
    transition: 0.5s;
}

.options {
    flex: 1;
    width: 100%;
    text-align: left;
    margin: 30px auto;
    margin-left: 30px;
}

.manage-posts {
    flex: 1;
    width: 100%;
    text-align: left;
    margin-top: 30px auto;
    margin-left: 30px;   
}

.post-creation {
    flex: 1;
    width: 100%;
    text-align: left;
    margin-top: 30px auto;
    margin-left: 30px;
} 

.post-creation .post-inputs{
    margin-bottom: 5px; /* Space between form elements */
    width: 50%; /* Full width of the container */
    padding: 10px;
    height: 100%;
}

.post-creation .post-inputs form{
    display: flex; /* Use flexbox for the form */
    flex-direction: column; /* Stack form elements vertically */
    flex: 1; /* Allow the form to grow and fill the contact-form section */
    gap: 15px;
}

table {
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
}
